.header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
    justify-content: flex-start;
}

.add-button {
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}


/* .add-button-disable:disabled {
    opacity: 0.5;
} */

.add-png {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}

#form {
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    flex-grow: 1;
}